torch==2.1.0
torchvision==0.16.0
diffusers==0.27.2
transformers==4.40.0
accelerate==0.29.3
imageio==2.34.0
decord==0.6.0
spaces
einops
omegaconf
safetensors
moviepy
scikit-learn
av
rotary_embedding_torch
torchmetrics
torch-fidelity
wandb